.login {
  padding: 70px 30px 70px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  max-width: 396px;
}

.login__greeting-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}

.login__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.login__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #8b8b8b;
}

.login__input {
  border: none;
  outline: none;
  color: #fff;
  padding: 0;
  margin-bottom: 20px;
  background-color: #2f2f2f;
  border-radius: 8px;
  width: 100%;
  height: 46px;
}

.login__button {
  margin-top: 91px;
  margin-bottom: 16px;
  color: #fff;
  width: 100%;
  height: 45px;
  background-color: #4285f4;
  border: none;
  cursor: pointer;
}

.login__button:hover {
  opacity: 0.6;
}

.login__question-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login__question {
  margin: 0;
  margin-right: 6px;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.login__link {
  padding: 0;
  text-decoration: none;
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}

.login__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 319px) {
  .login {
    padding: 56px 30px 30px 30px;
  }

  .login__greeting-box {
    align-items: center;
  }

  .login__title {
    margin-bottom: 80px;
  }

  .login__question {
    font-size: 12px;
    line-height: 14px;
  }

  .login__link {
    font-size: 12px;
    line-height: 14px;
  }
}
