.movies-list {
  padding-bottom: 80px;
}

.movies-list__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(4, 1fr);
  gap: 32px;
  align-items: center;
  justify-content: center;
  padding: 70px 0 50px 0;
}

.movies-list__button {
  padding: 0;
  width: 1140px;
  height: 36px;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .movies-list__container {
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }

  .movies-list__button {
    width: 780px;
  }
}
