.account-button__link {
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.account-button__link_logged {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  margin-right: 16px;
  margin-left: 0;
}

.account-button__button {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #313131;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 319px) {
  .account-button__link {
    font-size: 10px;
  }
}
