.about-me {
  margin: 0 auto;
  padding: 110px 70px 100px 70px;
  background-color: #fff;
  color: #000;
}

.about-me__container {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  align-self: flex-start;
}

.about-me__line {
  border-bottom: 1px solid #000;
  width: 100%;
  margin-bottom: 90px;
}

.about-me__info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-me__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-right: 270px; */
}

.about-me__name {
  margin: 0;
  margin-bottom: 18px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}

.about-me__profession {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 26px;
}

.about-me__description {
  margin: 0;
  margin-bottom: 99px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  max-width: 600px;
}

.about-me__links {
  display: flex;
}

.about-me__link {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
}

.about-me__image {
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__container {
    max-width: 668px;
  }

  .about-me__line {
    width: 100%;
  }

  .about-me__title {
    margin-bottom: 66px;
  }

  .about-me__name {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__profession {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__description {
    max-width: 364px;
    margin-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__image {
    max-width: 255px;
    max-height: 307px;
  }
}
